.divMapClassName {
    background-color: lightgray;
    width: 500px;
    height: 500px;
    position: absolute;
}

.divPersoClassName {
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
}

.divItemClassName {
    background-color: yellow;
    width: 20px;
    height: 20px;
    position: absolute;
}

.divEnemyClassName {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}

.divWallClassName {
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
}