.divMapClassName {
    background-color: lightgray;
    position: absolute;
}

.divPersoClassName {
    width: 20px;
    height: 20px;
    position: absolute;
}

.divItemClassName {
    width: 20px;
    height: 20px;
    position: absolute;
}

.divEnemyClassName {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}

.divWallClassName {
    width: 20px;
    height: 20px;
    position: absolute;
}


.divFirstEcranClassName{
    background-color: white;
    width: auto;
    height: auto;
}